<?xml version="1.0"?>
<config>
<modules>
	<Matheus_CustomOptions>
	<version>0.1.0</version>
	</Matheus_CustomOptions>
</modules>

<global>
        <helpers>
            <matheus_customoptions>
                <class>Matheus_CustomOptions_Helper</class>
            </matheus_customoptions>
        </helpers>
        <blocks>
            <matheus_customoptions>
                <class>Matheus_CustomOptions_Block</class>
            </matheus_customoptions>
        </blocks>
</global>

<admin>
        <routers>
            <customoptions_admin>
            <use>admin</use>
                <args>
                    <module>Matheus_CustomOptions</module>
                    <frontName>custom_options</frontName>
                </args>
            </customoptions_admin>
        </routers>
    </admin>

</config>
